<div class="wrapper"> <%#一番外側の大枠%>
  <div class="side-bar"> <%#左側の大枠%>
    <%= render "side_bar" %> <%#部分テンプレートの読み込みのためファイル名の_や拡張子は必要なし%>
  </div>
  <div class="chat"> <%#右側の大枠%>
    <%= render "main_chat" %>
  </div>
</div>
